<% if @user %>
  <h2>Hello, <%= @user.username %>!</h2>
<% end %>

<table>
      <caption>Listing space</caption>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price per night</th>
        <th>Date from</th>
        <th>End date</th>
        <th>Number of days avaliable</th>
        <th>Book</th>
      </tr>
      <% @space.each do |space| %>
      <tr>
        <td ><%= space.name %></td>
        <td><%= space.description %></td>
        <td><%= space.price %></td>
        <td><%= space.start_date %></td>
        <td><%= space.end_date %></td>
        <td><%= space.avaliable_days%> days</td>
        <td><form action="/spaces/<%= space.id %>" method="post">
          <input type ='hidden' name = 'space' value= '<%= space.id %>' >
          <input type="submit" value="Book" id='space<%= space.id %>' >
        </form> </td>
      </tr>
      <% end %>
</table>
