<% if @user %>
  <h2>Hello, <%= @user.username %>!</h2>
<% end %>

<h2>Your space is listed</h2>

<table>
      <caption>Listing space</caption>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>date from</th>
      </tr>
      <% @space.each do |space| %>
      <tr>
        <td ><%= space.name %></td>
        <td><%= space.description %></td>
        <td><%= space.price %></td>
        <td><%= space.from_date %></td>
      </tr>
      <% end %>
