<% if @user %>
  <h2>Hello, <%= @user.username %>!</h2>
<% end %>

<h2>Your space is listed</h2>

<table>
      <caption>Listing space</caption>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price per night</th>
        <th>Date from</th>
        <th>End date</th>
        <th>Number of days avaliable</th>
      </tr>
      <% @space.each do |space| %>
      <tr>
        <td ><%= space.name %></td>
        <td><%= space.description %></td>
        <td><%= space.price %></td>
        <td><%= space.start_date %></td>
        <td><%= space.end_date %></td>
        <td><%= space.avaliable_days%> days</td>
      </tr>
      <% end %>
