<% if @user %>
  <h3>Nice to see you again, <%= @user.username %></h3>
<% end %>

<table id="listings">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price per night</th>
      <th>Date from</th>
      <th>End date</th>
      <th>Number of days avaliable</th>
      <th>Owner</th>
    </tr>
    <% @space.each do |space| %>
    <tr>
      <td><%= space.name %></td>
      <td><%= space.description %></td>
      <td><%= space.price %></td>
      <td><%= space.start_date %></td>
      <td><%= space.end_date %></td>
      <td><%= space.avaliable_days%> days</td>
      <td><%= User.get(space.user_id).username %></td>
    </tr>
    <% end %>
</table>
